<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
=======
<head>
  <title>SampleApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
>>>>>>> 3089bf92c076a4e7d5ebefb5820b4492bb8e94d6
</html>
